
.navbar-inverse {
  background-color: #5AACE2;

background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #5AACE2),
  color-stop(0.51, #6FB3DE)
);
background-image: -o-linear-gradient(bottom, #5AACE2 0%, #6FB3DE 51%);
background-image: -moz-linear-gradient(bottom, #5AACE2 0%, #6FB3DE 51%);
background-image: -webkit-linear-gradient(bottom, #5AACE2 0%, #6FB3DE 51%);
background-image: -ms-linear-gradient(bottom, #5AACE2 0%, #6FB3DE 51%);
background-image: linear-gradient(to bottom, #5AACE2 0%, #6FB3DE 51%);
}


